.home-page__background {
    width: 100%;
    height: 1024px;
    background:  url('/public/cuhomebg.png') center center / cover no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 60px;
  }
  
  .home-page__background h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold; 
    color: white;
    margin: 0;
  }

  .home-page {
    background-color: #050A30;
    position: relative;
    padding-bottom: 100px; 
  }
  .home-page__banner {
    width: 100%;
    height: 100px;
    background-color: #FFA008; /* yellow */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

  }
  
  .home-page__banner p {
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #050A30;
    margin: 0;
  }

  .home-page__cards{
    background-color: #050A30;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 170px;
        gap: 63px;
  }
  
  .home-page__banner {
    width: 100%;
    height: 100px;
    background-color: #FFA008; /* yellow */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .home-page__banner-text {
    display: inline-flex; /* Align spans side-by-side */
    white-space: nowrap;
    animation: marquee 15s linear infinite; /* Adjust duration for speed */
  }
  
  .home-page__banner-text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #050A30;
    margin: 0;
  }
  
    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%); /* Move by the width of one span */
      }
    }

    