
  .white__button{
    width: 185px;
    height: 53px;
    padding: 13px 12px;
    border-radius: 48px;
    background-color: white;
    color: #050A30;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
font-family: Montserrat;
cursor: pointer;

  }
  .white__button:hover{
  color: #050A30;
border-radius: 24px;
background: #575D8B;
  }