.main-programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 41px;
  }
  
  .program-card {
    position: relative;
    width: 499px;
    height: 499px;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .program-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/public/CuJuniorBg.png') no-repeat center center;
    background-size: cover;
    transition: transform 0.5s ease;
    z-index: 0;
  }
  
  .program-card:hover::before {
    transform: scale(1.2);
  }
  
  .program-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(5, 9, 39, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  
  .program-card:hover::after {
    opacity: 1;
  }
  
  .program-card .text {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 64px;
  }
  
  .program-card:hover .text {
    opacity: 1;
  }
  