.international-camps__background {
    width: 100%;
    height: 880px;
    background: 
     linear-gradient(180deg, #050927 0%, rgba(5, 9, 39, 0.40) 40.74%, #050927 100%),
    url('/public/camp.png') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    position: relative;
  }
  .international-camps__title{
    font-size: 96px;
    font-weight: bold;
    color: #FFA008;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 153px;
  }
  .international-camps__description{
    font-size: 20px;
    color: white;
    font-weight: 300;
    width: 52%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

  }
  .international-camps{
    background-color: #050927;
    margin-bottom: 90px;
  }

  .international-camps__cards {
    background-color: #050927;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 63px;
  }
  
  