.blue__button{
    padding: 12px 24px;
    border-radius: 48px;
    background-color: #050A30;
    color: white;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: fit-content;
    border-color: transparent;
  }
  .blue__button:hover{
    background-color: #575D8B;
  }